@model IEnumerable<FSUsinagem.Models.TipoDeEndereco>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TipoDeEnderecoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TipoDeEnderecoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TipoDeEnderecoId })
        </td>
    </tr>
}

</table>
