@model FSUsinagem.Models.PessoaFisica

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>PessoaFisica</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cpf)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cpf)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Rg)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rg)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrgaoExpedidor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrgaoExpedidor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataDeNascimento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataDeNascimento)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fax)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fax)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Celular)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Celular)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
