@model FSUsinagem.Models.PessoaFisica

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PessoaFisica</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cpf)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cpf)
            @Html.ValidationMessageFor(model => model.Cpf)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Rg)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Rg)
            @Html.ValidationMessageFor(model => model.Rg)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrgaoExpedidor)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OrgaoExpedidor)
            @Html.ValidationMessageFor(model => model.OrgaoExpedidor)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DataDeNascimento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DataDeNascimento)
            @Html.ValidationMessageFor(model => model.DataDeNascimento)
        </div>

        @Html.HiddenFor(model => model.PessoaId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fone)
            @Html.ValidationMessageFor(model => model.Fone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fax)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fax)
            @Html.ValidationMessageFor(model => model.Fax)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Celular)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Celular)
            @Html.ValidationMessageFor(model => model.Celular)
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
