@model FSUsinagem.Models.Pedido

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<p>@ViewBag.Mensagem</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.PedidoId)
    @Html.HiddenFor(model => model.EstadoDoPedidoId)
    <fieldset>
        <legend>Pedido</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.PedidoId)
        </div>
        <div class="editor-field">
            @Html.DisplayTextFor(model => model.PedidoId)
            @Html.ValidationMessageFor(model => model.PedidoId)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.DataDeEmissao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DataDeEmissao)
            @Html.ValidationMessageFor(model => model.DataDeEmissao)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PrevisaoDeEntrega)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PrevisaoDeEntrega)
            @Html.ValidationMessageFor(model => model.PrevisaoDeEntrega)
        </div>
        <p>
            <input type="submit" value="Salvar" />
        </p>
    </fieldset>
}

@using (Html.BeginForm("CriaRapido", "ItemDoPedido"))
{
    @Html.HiddenFor(model => model.PedidoId)
    @Html.HiddenFor(model => model.EstadoDoPedidoId)
    @Html.DropDownList("ProdutoId", String.Empty)
    <input type="submit" value="Adicionar" />
}

<table>
    <thead>
        <tr>
            <th>Quantidade</th>
            <th>Produto</th>
            <th>Valor de custo</th>
            <th>Valor de venda</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (FSUsinagem.Models.ItemDoPedido itemDoPedido in Model.ItensDoPedido)
        {
            <tr>
                <td>@itemDoPedido.Quantidade</td>
                <td>@itemDoPedido.Produto.Descricao</td>
                <td>@itemDoPedido.ValorDeCusto</td>
                <td>@itemDoPedido.ValorDeVenda</td>
                <td>@Html.ActionLink("Editar", "Edit", "ItemDoPedido", new { id = itemDoPedido.ItemDoPedidoId }, new { }) |</td>
                <td>@Html.ActionLink("Excluir", "Delete", "ItemDoPedido", new { id = itemDoPedido.ItemDoPedidoId }, new { })</td>
            </tr>
        }
    </tbody>
</table>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}