@model IEnumerable<FSUsinagem.Models.ItemDoPedido>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Quantidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorDeCusto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorDeVenda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Produto.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pedido.PedidoId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Quantidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorDeCusto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorDeVenda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Produto.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pedido.PedidoId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ItemDoPedidoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ItemDoPedidoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ItemDoPedidoId })
        </td>
    </tr>
}

</table>
