@model FSUsinagem.Models.CodigoDeOperacao

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>CodigoDeOperacao</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Codigo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Codigo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Descricao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descricao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tipo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tipo)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CodigoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
