@model FSUsinagem.Models.Produto

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Produto</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Codigo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Codigo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Descricao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descricao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ValorDeCusto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValorDeCusto)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ValorDeVenda)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValorDeVenda)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TipoDeProduto.Descricao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoDeProduto.Descricao)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
