<!DOCTYPE html>
<html lang="pt">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Usinagem</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/themes/base/css")
</head>
<body>
    <div id="userSettings">
        @Html.Partial("_UserSettings")
    </div>

    <div id="body">
        @RenderBody()
    </div>

    <footer>
        <nav>
            <ul id="menu">
                <li>@Html.ActionLink("Lista de tarefas pendentes", "Index", "Home", new { area = "" }, null)</li>
                <li>@Html.ActionLink("API", "Index", "Help", new { area = "HelpPage" }, null)</li>
            </ul>
            <ul id="menu">
                <li>@Html.ActionLink("Bancos", "Banco", "Banco", new { area = "Banco" }, null)</li>
                <li>@Html.ActionLink("Estado Do Pedidos", "Index", "Help", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Pessoas Física ", "Index", "Home", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Produtos", "Index", "Help", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Tipos de Produtos", "Index", "Home", new { area = "" }, null)</li>               
            </ul>
        </nav> 
        <p>Saiba mais sobre a <a href="http://google.com.br">FitSoft</a></p>
        <p>&copy; @DateTime.Now.Year -FitSoft - Consultoria e Engenharia de Projeto S.A.</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/ajaxlogin")
    @RenderSection("scripts", required: false)
</body>
</html>