@model FSUsinagem.Models.PessoaJuridicaDto

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PessoaJuridicaDto</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.TipoDeCadastroId, "TipoDeCadastro")
        </div>
        <div class="editor-field">
            @Html.DropDownList("TipoDeCadastroId", String.Empty)
            @Html.ValidationMessageFor(model => model.TipoDeCadastroId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cnpj)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cnpj)
            @Html.ValidationMessageFor(model => model.Cnpj)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fone)
            @Html.ValidationMessageFor(model => model.Fone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fax)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fax)
            @Html.ValidationMessageFor(model => model.Fax)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Celular)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Celular)
            @Html.ValidationMessageFor(model => model.Celular)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Contato)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Contato)
            @Html.ValidationMessageFor(model => model.Contato)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.InscricaoMunicipal)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InscricaoMunicipal)
            @Html.ValidationMessageFor(model => model.InscricaoMunicipal)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.InscricaoEstadual)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InscricaoEstadual)
            @Html.ValidationMessageFor(model => model.InscricaoEstadual)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnderecoPrincipalCep)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EnderecoPrincipalCep)
            @Html.ValidationMessageFor(model => model.EnderecoPrincipalCep)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnderecoPrincipalTipoDeLogradouro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EnderecoPrincipalTipoDeLogradouro)
            @Html.ValidationMessageFor(model => model.EnderecoPrincipalTipoDeLogradouro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnderecoPrincipalLogradouro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EnderecoPrincipalLogradouro)
            @Html.ValidationMessageFor(model => model.EnderecoPrincipalLogradouro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnderecoPrincipalNumero)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EnderecoPrincipalNumero)
            @Html.ValidationMessageFor(model => model.EnderecoPrincipalNumero)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnderecoPrincipalComplemento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EnderecoPrincipalComplemento)
            @Html.ValidationMessageFor(model => model.EnderecoPrincipalComplemento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnderecoPrincipalBairro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EnderecoPrincipalBairro)
            @Html.ValidationMessageFor(model => model.EnderecoPrincipalBairro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnderecoPrincipalMunicipio)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EnderecoPrincipalMunicipio)
            @Html.ValidationMessageFor(model => model.EnderecoPrincipalMunicipio)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnderecoPrincipalUf)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EnderecoPrincipalUf)
            @Html.ValidationMessageFor(model => model.EnderecoPrincipalUf)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnderecoCobrancaCep)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EnderecoCobrancaCep)
            @Html.ValidationMessageFor(model => model.EnderecoCobrancaCep)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnderecoCobrancaTipoDeLogradouro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EnderecoCobrancaTipoDeLogradouro)
            @Html.ValidationMessageFor(model => model.EnderecoCobrancaTipoDeLogradouro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnderecoCobrancaLogradouro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EnderecoCobrancaLogradouro)
            @Html.ValidationMessageFor(model => model.EnderecoCobrancaLogradouro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnderecoCobrancaNumero)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EnderecoCobrancaNumero)
            @Html.ValidationMessageFor(model => model.EnderecoCobrancaNumero)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnderecoCobrancaComplemento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EnderecoCobrancaComplemento)
            @Html.ValidationMessageFor(model => model.EnderecoCobrancaComplemento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnderecoCobrancaBairro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EnderecoCobrancaBairro)
            @Html.ValidationMessageFor(model => model.EnderecoCobrancaBairro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnderecoCobrancaMunicipio)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EnderecoCobrancaMunicipio)
            @Html.ValidationMessageFor(model => model.EnderecoCobrancaMunicipio)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnderecoCobrancaUf)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EnderecoCobrancaUf)
            @Html.ValidationMessageFor(model => model.EnderecoCobrancaUf)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnderecoEntregaCep)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EnderecoEntregaCep)
            @Html.ValidationMessageFor(model => model.EnderecoEntregaCep)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnderecoEntregaTipoDeLogradouro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EnderecoEntregaTipoDeLogradouro)
            @Html.ValidationMessageFor(model => model.EnderecoEntregaTipoDeLogradouro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnderecoEntregaLogradouro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EnderecoEntregaLogradouro)
            @Html.ValidationMessageFor(model => model.EnderecoEntregaLogradouro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnderecoEntregaNumero)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EnderecoEntregaNumero)
            @Html.ValidationMessageFor(model => model.EnderecoEntregaNumero)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnderecoEntregaComplemento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EnderecoEntregaComplemento)
            @Html.ValidationMessageFor(model => model.EnderecoEntregaComplemento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnderecoEntregaBairro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EnderecoEntregaBairro)
            @Html.ValidationMessageFor(model => model.EnderecoEntregaBairro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnderecoEntregaMunicipio)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EnderecoEntregaMunicipio)
            @Html.ValidationMessageFor(model => model.EnderecoEntregaMunicipio)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnderecoEntregaUf)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EnderecoEntregaUf)
            @Html.ValidationMessageFor(model => model.EnderecoEntregaUf)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
